@font-face {
  font-family: Proxima;
  src: 
    url('./font/proxima/proximanova_regular.ttf')
    url('./font/proxima/proximanova_boldit.otf')
    url('./font/proxima/proximanova_bold.otf')
}

* {
  box-sizing: border-box;
}

body {
  font-family: Proxima, sans-serif;
  font-size: 20px;
}

.container {
  max-width: 1166px;
  padding: 0 10px;
  margin: 0 auto;

}

.wrapper {
  padding-top: 100px;
}

/* header */

.header {
  position: fixed;
  z-index: 20;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__item2 {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  font-size: 12px;
  color: #727374;
}

/* end header */

/* menu */

.header__menu {
  flex: 1 1 auto;

}

.menu__list {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
}

.menu__link {
  color:  #8B9DE6;
  font-size: 14px;
  text-decoration: none;
}
.menu__link:hover {
  color: #7387d6;
  text-decoration: underline;
}
.menu__link_selected {
  color: #122861;
  font-weight: 600;
}
.menu__link_selected:hover {
  color: #19367f;
}

/* end menu */

/* burger */
.burger {
  position: relative;
  z-index: 100;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: flex-end;
  gap: 7px;
  display: none;
}
.burger__one, .burger__two, .burger__three {
  background-color: #122861;
  border-radius: 77777px;
  height: 3px;
}
.burger__one {
  width: 45px;
}
.burger__two {
  width: 27px;
}
.burger__three {
  width: 35px;
}
/* end burger */

/* main */
.main {
  margin-bottom: 283px;
}

/* end main */

/* crumbs */
.main__crumbs {
  margin-bottom: 50px;
}
.crumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.crumbs__root {
  color: #8B9DE6;
}
.crumbs__last {
  color: #4D687D;
}
/* end crumbs */

/* search */
.search__phantom {
  font-size: 144px;
  color: #F3F3F8;
  position: relative;
}
.search__phantom-tail {
  position: absolute;
  font-size: 34px;
  color: #122861;
  bottom: 20px;
  left: 0;
}


.search__innerbox {
  padding: 0 100px;

}

.search__inpbox {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
}
.search__input {
  border: none;
  flex: 1 1 auto;
  font-size: 20px;
  font-family: Proxima, sans-serif;
  color: #727374;
  padding: 8px;
  border-bottom: 1px solid #8B9DE6;
}
.search__input:focus {
  outline:none;
  border-bottom-width: 2px;
}
.search__searchbtn {
  background-color: #8B9DE6;
  padding: 12px 64px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 424242px;
  box-shadow: 0 0 10px #8B9DE6;
  transition: 0.23s;
  cursor: pointer;
}
.search__searchbtn:hover {
  background-color: #7688cf;
}

.search__citate {
  font-size: 14px;
  color: #C4C4C4;
  margin-bottom: 40px;
}
.search__citate p {
  padding: 0 24px;
  display: inline-block;
  position: relative;
}
.search__citate p::before, .search__citate p::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  position: absolute;
}
.search__citate p::before {
  background-image: url('./img/citate-start.png');
  top: 0;
  left: 0;
}
.search__citate p::after {
  background-image: url('./img/citate-end.png');
  top: 0;
  right: 0;
}
/* end search */

/* found */
.search__found {
  margin-bottom: 55px;
}
.found__title {
  font-size: 20px;
  font-weight: 600;
  color: #727374;
  margin-bottom: 16px;
}
.found__box {
  margin-bottom: 24px;
}
.found__crumbs {
  display: flex;
  gap: 4px;
  font-size: 16px;
  color: #727272;
  margin-bottom: 8px;
} 
.found__result {
  font-size: 20px;
  color: #8B9DE6;
  max-width: 657px;
}
/* end found */

/* pagination */
.pagination__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pagination__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 80px;
  background-color: #8B9DE6;
  color: #fff;
  text-decoration: none;
  transition: 0.27s;
}
.pagination__link:hover {
  background-color: #6b7dc4;
}
.pagination__link_selected {
  background-color: #fff;
  color: #727374;
}
.pagination__link_selected:hover {
  background-color: #ddd;
}
/* end pagination */

.footer {
  padding-bottom: 30px;
  position: relative;
}
.shape1 {
  position: absolute;
  top: -100px;
  right: 0;
}
/* footer top */
.footer__container_top {
  position: relative;
  z-index: 5;
  padding-bottom: 90px;
  border-bottom: 1px solid #8B9DE6;
  margin-bottom: 36px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.top__one {
  display: flex;

}
.top__one-imgbox {
  width: 87px;
  height: 82px;
}
.top__one-imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.top__one-text-col {

}
.top__one-text-col-top {
  color: #8B9DE6;
  font-size: 18px;
  margin-bottom: 14px;
}
.top__one-text-col-bottom {
  color: #122861;
  font-size: 16px;
}

.top__two {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
}
.top__two-link {
  color: #8B9DE6;
  transition: 0.3s;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}
.top__two-link:hover {
  color: #7486ce;
  text-decoration: underline;
}

.top__three {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
}

.top__four {
  display: flex;
  flex-flow: column nowrap;
  /* gap: 16px; */
}
.top__four-imgbox {
  width: 67px;
  height: 57px;
}
.top__four-imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* end footer top */

/* footer bottom */
.footer__container_bottom {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom-left {
  font-size: 16px;
  color: #727374;
}
/* end footer bottom */

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: none; /* it changes to flex with js */
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
.mobile-menu.active {
  display: flex;
}
.mobile-menu__link {
  display: inline-block;
  padding: 16px 0;
  width: 100%;
  text-align: center;
  color: #8B9DE6;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid #6b7dc4;
}
.mobile-menu__link:hover {
  color: #7889cf;
  background-color: #d9e0ff;
}

/* end mobile menu */

.goLeftSmallAndBack {
  animation-name: goLeftSmallAndBack;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes goLeftSmallAndBack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-6px);
  }
  100% {
    transform :translateX(0)
  }
}

.goLeftMediumAndBack {
  animation-name: goLeftSmallAndBack;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

@keyframes goLeftMediumAndBack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform :translateX(0)
  }
}

.goLeftManyAndBack {
  animation-name: goLeftSmallAndBack;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes goLeftManyAndBack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-14px);
  }
  100% {
    transform :translateX(0)
  }
}

/* animations */



/* end animations */


@media (max-width: 958px) {
  .burger {
    display: flex;
  }
  .header {
    box-shadow: none;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    flex: 1 1 auto;
  }
  .main {
    margin-bottom: 200px;
  }
}
@media (max-width: 958px) {
  .search__phantom {
    font-size: 120px;
  }
  .search__phantom-tail {
    font-size: 28px;
  }
  .search__innerbox {
    padding: 0 80px;
  }
  .search__searchbtn {
    padding: 12px 54px;
  }
  .footer__container_top {
    padding-bottom: 80px;
  }
}

@media (max-width: 800px) {
  .search__phantom {
    font-size: 100px;
  }
  .search__phantom-tail {
    font-size: 24px;
    bottom: 16px;
  }
  .search__innerbox {
    padding: 0 60px;
  }
  .search__searchbtn {
    padding: 12px 44px;
  }
  .footer__container_top {
    padding-bottom: 65px;
  }
  .shape1 {
    display: none;
  }
  .main {
    margin-bottom: 150px;
  }
}

@media (max-width: 700px) {
  .search__phantom {
    font-size: 75px;
  }
  .search__phantom-tail {
    font-size: 22px;
    bottom: 14px;
  }
  .search__innerbox {
    padding: 0 45px;
  }
  .search__searchbtn {
    padding: 12px 34px;
  }
  .footer__container_top {
    padding-bottom: 45px;
  }
  .top {
    flex-flow: column nowrap;
    gap: 30px;
  }
  .top__one {
    flex-flow: column nowrap;
    align-items: center;
  }
  .top__four {
    flex-flow: row nowrap;
    justify-content: center;

  }
  .top__one-imgbox {
    width: 100px;
    height: 100px;
  }
  .top__one-text-col-top {
    display: none;
  }
  .top__one-text-col-bottom {
    text-align: center;
  }
  .top__two, .top__three {
    display: none;
  }
  .main {
    margin-bottom: 120px;
  }
}
@media (max-width: 600px) {
  .search__phantom {
    font-size: 55px;
  }
  .search__phantom-tail {
    font-size: 20px;
    bottom: 6px;
  }
  .search__innerbox {
    padding: 0;
  }
  .search__input {
    font-size: 16px;
  }
  .search__searchbtn {
    padding: 12px 24px;
  }
  .found__title {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .main {
    margin-bottom: 100px;
  }
  .footer__container_top {
    padding-bottom: 38px;
  }
  .footer__container_bottom {
    flex-flow: column nowrap;
    gap: 36px;
  }
}
@media (max-width: 500px) {
  .search__phantom {
    font-size: 45px;
  }
  .search__phantom-tail {
    font-size: 19px;
    bottom: 4px;
  }
  .search__innerbox {
    padding: 0;
  }
  .search__searchbtn {
    display: none;
  }
  .found__title {
    font-size: 16px;
  }
  .found__crumbs {
    font-size: 14px;
  }
  .found__result {
    font-size: 16px;
  }
}


@media (max-width: 400px) {
  .search__phantom {
    font-size: 40px;
  }
  .search__phantom-tail {
    font-size: 17px;
    bottom: 2px;
  }
  .search__innerbox {
    padding: 0;
  }
}
